[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pep8 = "*"
pillow = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
django-filter = "*"
django-debug-toolbar = "*"
model-bakery = "*"
faker = "*"
requests = "*"
postgis = "*"
djangorestframework-gis = "*"
geoip2 = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.11"
